%post-media-nav {
  $thumb-indent: 60px;
  $thumb-width: 70px;

  @include size(10%, 100%);
  min-width: 150px;
  text-align: center;

  .nav-inner {
    @include clearfix;
    @include vertical-align;
    display: inline-block;
    overflow: hidden;
    
    .nav-arrow{
      @include transition;
      @include absolute-center;
    }

    .nav-thumbnail-wrapper{
      @include transition;
      width: $thumb-width;
      visibility: hidden;
      overflow: hidden;
      text-align: center;
      border: 2px solid rgba($primary-color, .2);

      &:after{
        content: '';
        @include size(100%);
        @include absolute-center;
        background: rgba($primary-color, .7);
      }

      .nav-counter{
        @include absolute(50% 0 null 0);
        @include transform(translateY(-50%));
        z-index: 1;
        font-size: $h3-font-size;
      }

      img{
        @include size(100%, auto);
      }
    }

    &:hover{

      .nav-thumbnail-wrapper{
        visibility: visible;
        @include transform(translateX(0));
      }
    }

  }
}

.post-media {
  @include transition;
  @include transition-duration(.4s);
  @include fixed(0);
  @include size(100%);
  opacity: 0;
  visibility: hidden;
  background: $primary-color;

  &:after {
    content: '';
    @include absolute-center;
    @include size(100%);
    background: rgba(#000, .7);
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &-image {
    @include size(100%);
    @include absolute(0);
  }

  &-headline {

    &-wrapper {
      @include transition;
      @include transition-delay(.2s);
      @include transition-duration(.4s);
      @include absolute-center;
      width: 100%;
      z-index: 1;
      color: #fff;
      text-align: center;
      display: table;
      opacity: 0;

      .active &{
        opacity: 1;
      }
    }

    max-width: rem(700);
    display: table-cell;
    vertical-align: middle;
    line-height: 1.6;

    p {
      margin: 0;
    }
  }

  &-list-nav-prev {
    @extend %post-media-nav;
    @include absolute(0 null 0 0);

    .nav-inner {
      padding-right: $base-spacing*3;

      .nav-thumbnail-wrapper {
        @include transform(translateX(-100%));
      }

      .nav-arrow {
        @include sprite($left-arrow);
      }

      &:hover{

        .nav-arrow{
          @include transform(translateX($base-spacing*2) scale(.6));
        }
      }

    }
  }

  &-list-nav-next {
    @extend %post-media-nav;
    @include absolute(0 0 0 null);

    .nav-inner{
      padding-left: $base-spacing*3;

      .nav-thumbnail-wrapper{
        @include transform(translateX(100%));
      }

      .nav-arrow{
        @include sprite($right-arrow);
      }

      &:hover{

        .nav-arrow{
          @include transform(translateX($base-spacing*-2) scale(.6));
        }
      }

    }

  }
}